<div class="image">

  <img style="float: right;" src="https://pku.org.uk/head.png" width="45%" align="right">
      <h4>
          <p style="font-size:25pt">UK19B307 AI Analytics</p>
          <p style="font-size:15pt">Quiz 1</p>
      </h4>
<h5>
    <p> Peking University</p>
    <p> Demonstrable Labs</p>
</h5>
</div>

### Please doule click this block and enter your name / ID:

- Name: 
- ID:

<div class="alert alert-warning"> 
<b>QUESTION 1:</b>

Using one numerical operation (**do not use subtraction**), extract the decimal part from the float number `1.949101` (the output should be `0.949101`).

</div>

In [6]:
1.949101%1

0.949101

<div class="alert alert-warning"> 
<b>QUESTION 2:</b>

Get an integer from user input using prompt `Please give me an integer`, assign the input value to a variable called `num_1`. Then in the next line print the square root of `num_1`.

For example, if the input integer is `9`, the printed value should be `3.0`.

</div>

In [15]:
num_1=int(input('Please give me an integer'))
print(num_1**(1/2))

Please give me an integer9
3.0

<div class="alert alert-warning">
<b>QUESTION 3:</b>

1, Define a list: `random_list_of_words = ["PROBABILITY", "KNOWLEDGE", "UNIVERSE"]`

2, Print the first letter from each of the words in the list `random_list_of_words` using a `for` loop. The desirable output is:

```
p
K
U```

In [15]:
random_list_of_words = ["PROBABILITY", "KNOWLEDGE", "UNIVERSE"]
counter = 0
index = len(random_list_of_words)-1
while counter <= len(random_list_of_words)-1:
    print(random_list_of_words[counter][0])
    counter = counter + 1

P
K
U

<div class="alert alert-warning">
<b>QUESTION 4:</b>

Print all integers in range from 0 to 10 (inclusive) that are divisible by 2. The expected output is:

```
0
2
4
6
8
10
```

In [47]:
for i in range(11):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10

<div class="alert alert-warning">
<b>QUESTION 5:</b>

1, Define a list: `details = ['!', 'does', 'important', 'work', 'is', 'anything', 'python', 'play', 'practising']`

2, Write one line of code so that it prints every other element of the list `details` in reversed order (starting with the last one). The expected output is:

`['practising', 'python', 'is', 'important', '!']`

<br>
<b>DO NOT</b> write: <code>print(['practising', 'python', 'is', 'important', '!'])</code>.
</div>

In [50]:
details = ['!', 'does', 'important', 'work', 'is', 'anything', 'python', 'play', 'practising']
rdetails = details[::-2]
print(rdetails)

['practising', 'python', 'is', 'important', '!']

<div class="alert alert-warning">
<b>QUESTION 6:</b>

1, Define a list: `letters = ['k', 'm', 'a', 'k', 'k', 'r','o', 'y', 'p', 't', 'd', 's', 'q' 'p', 'y','p', 'e', 'c', 'a', 'e', 'r', 'l', 'w', 'g', 'k', 'e', 'y', 'u', 'k', 'r', 's', 'l', 'd', 'x', 'w', 'q', 'o', 'f', 'k', 'c', 'k', 'u', 'j', 'p', 'r', 'j', 'r','d', 'y', 'i', 't', 'd', 'f', 'p' 'h', 'y','s', 'n', 'b', 'a']`

2, Write code to count the number of times letter `k` appears in the list and print the result. The correct result is `7`.
</p>
</div>

In [52]:
letters = ['k', 'm', 'a', 'k', 'k', 'r','o', 'y', 'p', 't', 'd', 's', 'q' 'p', 'y','p', 'e', 'c', 'a', 'e', 'r', 'l', 'w', 'g', 'k', 'e', 'y', 'u', 'k', 'r', 's', 'l', 'd', 'x', 'w', 'q', 'o', 'f', 'k', 'c', 'k', 'u', 'j', 'p', 'r', 'j', 'r','d', 'y', 'i', 't', 'd', 'f', 'p' 'h', 'y','s', 'n', 'b', 'a']
letters.count('k')

7

<div class="alert alert-warning">
<b>EXERCISE 7:</b> 
    
Please print string `PKU` for 5 times with space in between. 

<br>
The expected output is: <code>PKU PKU PKU PKU PKU</code>
</div>

In [55]:
print(('PKU'+' ')*5)

PKU PKU PKU PKU PKU

<div class="alert alert-warning">
<b>QUESTION 8:</b> 
    
Please print the following string:
    
```
In Python, the backslash "\" is a special character.
'\' can be used to represent whitespace characters, for example:
"\t" is a tab.
```

</div>

In [58]:
print("""In Python, the backslash "\\" is a special character.\n'\\' can be used to represent whitespace characters, for example:\n"\\t" is a tab.""")

In Python, the backslash "\" is a special character.
'\' can be used to represent whitespace characters, for example:
"\t" is a tab.

<div class="alert alert-warning">
<b>QUESTION 9:</b>

1, Define a list: `random_list = ['This', 'is', 'a', 'list', 'of', 'some', 'words']`

2, Write code that prints the index of the string `'some'`in the list.
  
</div>

In [60]:
random_list = ['This', 'is', 'a', 'list', 'of', 'some', 'words']
print(random_list.index('some'))

5

<div class="alert alert-warning">
<b>QUESTION 10:</b>

1, Define two sets: 

```python
first_set = {1,2,3,4,5}
second_set = {4,5,6,7,8}```

2, Write code that defines a list called `new_list` which contains the items from both of the two sets. Print the list, the expected output is: `[4, 5]`
  
</div>

In [61]:
first_set = {1,2,3,4,5}
second_set = {4,5,6,7,8}
print(first_set & second_set)

{4, 5}

<div class="alert alert-warning">
<b>QUESTION 11:</b>

Create a list called `list_num`. The list contains integers from 0 to 10 (inclusive).

<br>
Print the list. The expected output is:

<code>[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]</code>
    
</div>

In [74]:
list_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<div class="alert alert-warning">
    <b>QUESTION 12:</b>

Write a function called <code>ReLU</code> which takes a number as the argument. The function would return 0 if the argument is less than or equal to 0, and return the same number if it's larger than 0.
    </div>

In [81]:
def ReLU(num):
    if num <=0:
        return 0
    else:
        return num

9

<div class="alert alert-warning">
<b>QUESTION 13:</b>

1, Define a tuple: `Tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)`

2, Print a slice of the tuple from the beginning to the second element. The expected output is: `(2, 4)`
</div>

In [83]:
Tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
Tuplex[:2]

(2, 4)

<div class="alert alert-warning">
<b>QUESTION 14:</b>
    
Define a function called `min_of_two` that takes two numbers as arguments and returns the minimum of the two arguments.
</div>

In [84]:
def min_of_two(a,b):
    print(min(a,b))

2

<div class="alert alert-warning">
<b>QUESTION 15: </b> 

1, Define a tuple: `books = ("Harry Potter", "Sisterhood of the Traveling Pants" ,"Alice in Wonderland", "The Hobbit", "Fireborne")`

2, Print the number of items in the tuple.
</div>

In [85]:
books = ("Harry Potter", "Sisterhood of the Traveling Pants" ,"Alice in Wonderland", "The Hobbit", "Fireborne")
print(len(books))

5

<div class="alert alert-warning">
<b>QUESTION 16: </b> 

Write a function called `mul_ten` that takes a number as the argument and returns the argument multiplied by 10.</p>

</div>

In [86]:
def mul_ten(num):
    print(num/10)

10.0

<div class="alert alert-warning">
<b>QUESTION 17: </b> 

1, Define a dictionary with fruits names and their prices: `prices = {"banana":0.5, "apple":1, "kiwi":1, "orange":0.8, "pineapple":2, "mango":2.5}`.


2, Update the dictionary by changing the price of pineapple to 3.2.
</div>

In [88]:
prices = {"banana":0.5, "apple":1, "kiwi":1, "orange":0.8, "pineapple":2, "mango":2.5}
prices["pineapple"]=3.2
prices

{'banana': 0.5,
 'apple': 1,
 'kiwi': 1,
 'orange': 0.8,
 'pineapple': 3.2,
 'mango': 2.5}

<div class="alert alert-warning">
<b>QUESTION 18: </b> 
    
1, Definee a list: `colours = ["cyan", "magenta", "yellow", "black"]`
    
2, Use the `insert` method to add string `red` as the third item (between`magenta` and `yellow`) in the list.
</div>

In [89]:
colours = ["cyan", "magenta", "yellow", "black"]
colours.insert[2]="red"
colours

TypeError: 'builtin_function_or_method' object does not support item assignment

<div class="alert alert-warning">
<b>QUESTION 19: </b> 
    
Write a loop to print integers from 0 to 8 (inclusive) except 2 and 5.  
    
The expected output is:

```
0
1
3
4
6
7
8
```
</div>

In [1]:
i = 8
while i >= 0:
    if i!=2:
        if i!=5:
            print(i)
    i -= 1

8
7
6
4
3
1
0

<div class="alert alert-warning">
<b>QUESTION 20:</b> 
<p> Write code to replicate the flowchart.<p/>
<img src="//i.imgur.com/MBJSdAz.png" width="20%">
</div>